.button {
    display: block;
    width: 190px;
    height: 40px;
    background-color: $third-color;
    border-radius: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    &:hover {
        background-color: $second-color;
    }
    &_center {
        width: 404px;
        height: 60px;
        margin: 0 auto;
        font-weight: 600;
        font-size: 24px;
    }
    &_slider {
        position: absolute;
        bottom: 20px;
        transform: translateX(50%);
        background: rgba(255, 255, 255, 0.6);
        border: 2px solid $second-color;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
        border-radius: 30px;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        color: $second-color;
        &:hover {
            background-color: #BDF8F9;
        }
    }
    &_register {
        border: 2px solid #099DBA;
        background-color: #fff;
        color: #099DBA;
        &:hover {
            background-color: $second-color;
            color: #fff;
        }
    }
    &_price {
        border: 2px solid #099DBA;
        background-color: #BDF8F9;
        color: #099DBA;
        &:hover {
            background-color: $second-color;
            color: #fff;
        }
    }
}