.button {
    width: 190px;
    height: 40px;
    background: $third-color;
    border-radius: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
}